<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <% messages.forEach((message)=> { %>
            <li>
                <p>From: <%= message.user %>
                </p>
                <p>Message: <%= message.text %>
                </p>
                <p>Sent: <%= message.added %>
                </p>
                <form action="/details" method="POST">
                    <input type="hidden" name="user" value="<%= message.user %>">
                    <input type="hidden" name="text" value="<%= message.text %>">
                    <input type="hidden" name="added" value="<%= message.added %>">
                    <button type="submit">open</button>
                </form>
            </li>
            <% }) %>
    </ul>
    <button onclick="window.location.href='/new'">New message</button>
</body>

</html>